<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"style="color: white;">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new"style="color: white;">Create New URL</a>
      </div>
    </nav>
        <div>
        <% if (!user) { %>
          <form action="/login" method="POST"></form>
          <button type ="submit" href="/register">Register</button>
          <button type ="submit" href="/login">Login</button>
        <% } else { %>
          Logged in as: <%= "user" %>
          <button type ="submit" href="/logout"class="color: white;">logout</button>
        <% } %>
        </div>
  </nav>
</header>